In [1]:
import pandas as pd
data = pd.read_csv('age_of_marriage_data.csv')
print(data.shape)
data.head()

(2567, 10)

,id,gender,height,religion,caste,mother_tongue,profession,location,country,age_of_marriage
0,1,female,"5'4""",NaN,others,Telugu,NaN,London,United Kingdom,21.0
1,2,male,"5'7""",Jain,Shwetamber,Gujarati,Doctor / Healthcare Professional,Fairfax- VA,USA,32.0
2,3,male,"5'7""",Hindu,Brahmin,Hindi,Entrepreneurs / Business,Begusarai,India,32.0
3,4,female,"5'0""",Hindu,Thakur,Hindi,Architect,Mumbai,India,30.0
4,5,male,"5'5""",Christian,Born Again,Malayalam,Sales Professional / Marketing,Sulthan Bathery,India,30.0

In [2]:
data.isnull().sum()

id                   0
gender              29
height             118
religion           635
caste              142
mother_tongue      164
profession         330
location           155
country             16
age_of_marriage     19
dtype: int64

In [3]:
data.dropna(inplace=True)

In [4]:
X = data.loc[:,['gender','height','religion','caste','mother_tongue','country','profession','location']]
#y = data.loc[:,['age_of_marriage']]
y = data.age_of_marriage

In [5]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.loc[:,['gender','religion','caste','mother_tongue','country','profession','location']]= \
X.loc[:,['gender','religion','caste','mother_tongue','country','profession','location']].apply(enc.fit_transform)

In [6]:
def h_cms(h):
    return int(h.split('\'')[0])*30.48 + int(h.split('\'')[1].replace('"',''))*2.54

X['height_cms'] = X.height.apply(h_cms)

X.drop('height',inplace=True,axis=1)
X.head()

  gender religion caste mother_tongue country profession location  height_cms
1      1        2    34             6      19         22      153      170.18
2      1        1    14             8       5         25       56      170.18
3      0        1    36             8       5          7      295      152.40
4      1        0    13            13       5         68      410      165.10
5      1        1    38             8       5         74      124      165.10

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [30]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100,max_depth=16)
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [31]:
from sklearn.metrics import mean_absolute_error, r2_score
print("MAE : ", mean_absolute_error(y_test,y_predict))
r2_score(y_test,y_predict)

MAE :  1.0298953049610862

0.7043060095092671